<?php
// Internal
const DB_HOST = 'localhost';
const DB_PORT = 0;
const DB_USER = '';
const DB_PASSWORD = '';
const DB_SOCKET = '';					// optional

const REDIS_HOST = 'localhost';
const REDIS_PORT = 6379;
const REDIS_PREFIX = '';				// optional

// External
const API_BASE_URI = "/api/";		// "//api.jammer.tv";
const STATIC_BASE_URI = "/static/";	// "//static.jammer.tv";

// Alphabetical
const GOOGLE_CLIENT_ID = "";
const GOOGLE_CLIENT_SECRET = "";

const MIXER_CLIENT_ID = "";
const MIXER_CLIENT_SECRET = "";

const TWITCH_CLIENT_ID = "";
const TWITCH_CLIENT_SECRET = "";
